<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>CFBundleName</key><string>Browser Traffic Control</string><key>CFBundleIdentifier</key><string>com.local.browser-traffic-control</string><key>CFBundleExecutable</key><string>Browser Traffic Control</string><key>CFBundleURLTypes</key><array><dict><key>CFBundleURLSchemes</key><array><string>http</string><string>https</string></array><key>CFBundleURLName</key><string>Web URLs</string></dict></array><key>NSAppleEventsUsageDescription</key><string>Browser Traffic Control needs permission to open tabs in Dia profiles.</string></dict></plist>
